<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> First section : Data cleaning  </center>

In this notebook you will be cleaning your dataset and making sure it's fully ready for modeling.

The used dataset is [Hepatitis C  dataset](https://www.kaggle.com/fedesoriano/hepatitis-c-dataset)

## Data preparation 
As a first step we need to prepare the data :

1. Read the data set as a data frame ( file name is HepatitisCdata.csv) 
2. The here are the column of your dataset:
    1) X (Patient ID/No.)
    2) Category (diagnosis) (values: '0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis', '2=Fibrosis', '3=Cirrhosis') ( the target ) 
    3) Age (in years)
    4) Sex (f,m)
    Attributes 5 to 14 refer to laboratory data:
    5) ALB : Albumin Blood Test
    6) ALP : Alkaline phosphatase
    7) ALT : Alanine Transaminase
    8) AST : Aspartate Transaminase
    9) BIL : Bilirubin
    10) CHE : Acetylcholinesterase
    11) CHOL : Cholesterol
    12) CREA : Creatinine 
    13) GGT : Gamma-Glutamyl Transferase
    14) PROT : Proteins
    
3. Remember your model only accepts numbers so make sure you deal properly with the missing values and the data types and justify your solution choices 
 
4. Make sure the dataset shape in the end is : rows 615 and  14 columns 
 
5. Once finished save the cleaned dataset as "clean_HepatitisC.csv" file

In [1]:
import pandas as pd 
import numpy as np

In [2]:
#To-Do: read the dataset 
data = pd.read_csv("HepatitisCdata.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    object
 2   Age         615 non-null    int64
 3   Sex         615 non-null    object
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 67.4+ KB

In [4]:
#To-Do  Start investigating the data types and correcting that 
# Provide explanation about each step in Markdown cells 
data['Sex'] = data['Sex'].replace(['f','m'],[0,1])
data['Category']=data['Category'].replace(['0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis', '2=Fibrosis', '3=Cirrhosis'],[0,1,2,3,4])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    int64
 2   Age         615 non-null    int64
 3   Sex         615 non-null    int64
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(4)
memory usage: 67.4 KB

> Data types are all numeric Now ! Next we need to deal with missing values for the feature columns

#To-Do list all the columns that contain missing values along with their counts

In [5]:
import seaborn as sns
#To-Do list all the columns that contain missing values along with their counts
columns_with_nans=data.columns[data.isnull().any()]
for col in columns_with_nans:
    print(col,data[col].isnull().sum())
    
    
# To-Do Start providing solutions for each column that has missing data 
# Treat each case seperately 
# Hint : no data row should be deleted 

#we have a lot of outliers so we must not use replace by the mean

#ALB:
# sns.boxplot(data['ALB'])
data['ALB']=data['ALB'].fillna(data['ALB'].median())

#ALP:
# sns.boxplot(data['ALP'])
data['ALP']=data['ALP'].fillna(data['ALP'].median())
#ALT:
# sns.boxplot(data['ALT'])
data['ALT']=data['ALT'].fillna(data['ALT'].median())
#CHOL:
# sns.boxplot(data['CHOL'])
data['CHOL']=data['CHOL'].fillna(data['CHOL'].median())
#PROT:
# sns.boxplot(data['PROT'])
data['PROT']=data['PROT'].fillna(data['PROT'].median())


# Provide evidence that you filled those missing values after each step 
for col in columns_with_nans:
    print(col,data[col].isnull().sum())

ALB 1
ALP 18
ALT 1
CHOL 10
PROT 1
ALB 0
ALP 0
ALT 0
CHOL 0
PROT 0

> We have no more missing data
As an optional thing we can also rename the first column as 'index' or "ID" instead of Unnamed

In [6]:
data.columns

Index(['Unnamed: 0', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST',
       'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [7]:
data.rename(columns={'Unnamed: 0': "ID"}, inplace=True)

In [8]:
data.columns
data

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,4,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,4,64,0,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,4,64,0,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,614,4,46,0,33.0,66.2,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,615,4,59,0,36.0,66.2,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

### 6. Save the clean dataset :

In [9]:
# Don't forget to drop the index 
data.to_csv('clean_HepatitisC.csv', index=False)