## Data cleaning and preparation

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("videosUS.csv")

#### Missing values within the  dataset and in which columns +Assumptions made about these missing values

In [4]:
df.isna().sum()
#We have missing values in all columns except the video_id

video_id                     0
trending_date              466
title                      466
channel_title              466
category_id                466
publish_time               466
tags                       466
views                      466
likes                      466
dislikes                   466
comment_count              466
thumbnail_link             466
comments_disabled          466
ratings_disabled           466
video_error_or_removed     466
description               1036
dtype: int64

#### Getting the mean , median , quartiles of each numerical variable within this dataset.

In [5]:
df.info()
# We have just five numerical columns values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41415 entries, 0 to 41414
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                41415 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  float64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  float64
 8   likes                   40949 non-null  float64
 9   dislikes                40949 non-null  float64
 10  comment_count           40949 non-null  float64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  object
 13  ratings_disabled        40949 non-null  object
 14  video_error_or_removed  40949 non-null  object
 15  description             40379 non-null  object
dtypes: float64(5), object(11)
memory usage: 5.1+ MB

In [6]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  40949.000000  4.094900e+04  4.094900e+04  4.094900e+04   4.094900e+04
mean      19.972429  2.360785e+06  7.426670e+04  3.711401e+03   8.446804e+03
std        7.568327  7.394114e+06  2.288853e+05  2.902971e+04   3.743049e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  2.423290e+05  5.424000e+03  2.020000e+02   6.140000e+02
50%       24.000000  6.818610e+05  1.809100e+04  6.310000e+02   1.856000e+03
75%       25.000000  1.823157e+06  5.541700e+04  1.938000e+03   5.755000e+03
max       43.000000  2.252119e+08  5.613827e+06  1.674420e+06   1.361580e+06

####  Spot the possible outliers in your dataset and get rid of them

#### How many unique categories do you have ?

In [7]:
pd.unique(df['category_id'])

array([22., 24., 23., 28.,  1., 25., 17., 10., 15., 27., 26.,  2., 19.,
       nan, 20., 29., 43.])

#### Is there any column that we need to adjust its type ?

#### Geting how many tags we have and which are the most common tags

In [8]:
df['tags'].value_counts()

[none]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1535
ABC|"americanidol"|"idol"|"american idol"|"ryan"|"seacrest"|"ryan seacrest"|"katy"|"perry"|"katy perry"|"luke"|"bryan"|"luke bryan"|"lionel"|"richie"|"lionel richie"|"season 16"|"american idol XVI"|"television"|"ad"|"spring"|"2018"|"music"|"reality"|"competition"|"song"|"sing"|"audition"|"auditions"|"performance"|"live"|"fox"|"AI"|"hollywood"|"contestant"|"official"|"american"|"official american idol"|"hollywood week"|"hometown audition"                                                                              87
Jacksfilms|"Jack Douglass"|"YGS"|"YGS 100"|"YGS 50"|"The Best of Your Grammar Sucks"|"Your Grammar Sucks"|"YIAY"|"Yesterday I Asked You"|"Fidget Spinners"|"Emoji Movie"|"Kermit Sings"|"JackAsk"|"Jack Ask"|"Dubstep Solves Everything"|"Frozen 2"|"iPhone Parody"|"Apple Parody"                                                                                                                                                                                                                                                     80
James Corden|"The Late Late Show"|"Colbert"|"late night"|"late night show"|"Stephen Colbert"|"Comedy"|"monologue"|"comedian"|"impressions"|"celebrities"|"carpool"|"karaoke"|"CBS"|"Late Late Show"|"Corden"|"joke"|"jokes"|"funny"|"funny video"|"funny videos"|"humor"|"celebrity"|"celeb"|"hollywood"|"famous"                                                                                                                                                                                                                      71
The Late Show|"Stephen Colbert"|"Colbert"|"Late Show"|"celebrities"|"late night"|"talk show"|"skits"|"bit"|"monologue"|"The Late Late Show"|"Late Late Show"|"letterman"|"david letterman"|"comedian"|"impressions"|"CBS"|"joke"|"jokes"|"funny"|"funny video"|"funny videos"|"humor"|"celebrity"|"celeb"|"hollywood"|"famous"|"James Corden"|"Corden"|"Comedy"                                                                                                                                                                        66
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ...
espn|"espn live"|"stephen a smith"|"stephen a. smith"|"stephen a smith reaction"|"stephen a."|"stephen a"|"stephen a smith kevin durant"|"kevin durant"|"kevin durant warriors"|"steph curry"|"steph curry injury"|"first take"|"first take espn"|"espn first take"|"first take daily"|"first take today"|"first take nba"|"nba first take"|"nba"|"basketball"                                                                                                                                                                          1
Business Insider|"Donald Trump"|"White House"|"President"|"Roy Moore"|"Endorsement"|"Sexual misconduct"|"Allegations"                                                                                                                                                                                                                                                                                                                                                                                                                   1
Netflix|"Trailer"|"Netflix Original Series"|"Netflix Series"|"television"|"movies"|"streaming"|"movies online"|"television online"|"documentary"|"comedy"|"drama"|"08282016NtflxUSCAN"|"watch movies"|"Lost in Space"|"space"|"Sci-Fi"|"sci fi"|"science fiction"|"the Robinson family"|"Robinson family"|"Danger Will Robinson"|"teaser"|"trailer"|"sneak peek"|"spaceship"|"robots"|"aliens"|"lost in space episode one"|"space show"|"a new beginning"|"final frontier"                                                              1
atx psu|"danger"|"fire"|"fuse"|"fuses"|"fusing"|"led"|"leds"|"psu"|"short circuit"|"short circuits"|"ws2812"|"ws2812b"|"thermocam"                                                                                                                                                                                                                                                                                                                                                                                                      1
Netflix|"Trailer"|"Netflix Original Series"|"Netflix Series"|"television"|"movies"|"streaming"|"movies online"|"television online"|"documentary"|"comedy"|"drama"|"08282016NtflxUSCAN"|"watch movies"|"on netflix"|"THE CLOVERFIELD PARADOX"|"cloverfield"|"10 cloverfield lane"|"cloverfield paradox"|"monster"|"cloverfield movie"|"cloverfield prequel"|"bad robot"|"jj abrams"|"cloverfield anniversary"|"cloverfield lane"|"Julius Onah"|"sci fi"|"horror"|"Daniel Br√ºhl"|"Elizabeth Debicki"|"Aksel Hennie"|"sci fi horror"       1
Name: tags, Length: 6055, dtype: int64